/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
Supprimerait public/js/1.js
Supprimerait public/js/2.js
Supprimerait public/js/3.js
Supprimerait public/js/4.js
